[submodule "zsh/oh-my-zsh.symlink"]
	path = zsh/oh-my-zsh.symlink
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "vi/vim.symlink/bundle/vim-powerline"]
	path = vi/vim.symlink/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "vi/vim.symlink/bundle/vundle"]
	path = vi/vim.symlink/bundle/vundle
	url = git://github.com/gmarik/vundle.git
